@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

:root {
  font-family: 'Inter', system-ui, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
